
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600&family=Varela+Round&display=swap');


@import '~@fortawesome/fontawesome-free/css/all.css';

.fa-flip-horizontal {
  transform: scaleX(-1);
}


body{
    margin: 5px;
  }

 .rjdiv:hover + .amoungus{
    right: -40px;
  }

  .amoungus{
    position: absolute;
    bottom: 0;
    right: 0px;
    transform: rotateZ(20deg);
    z-index: 0;
    transition: all ease-in-out 1s;
  }

.rjdiv{
  z-index: 1;
  position: relative;
}

.amoungus img{
  width: 90px;
  height: 100px;
}
  
.subtitle {
    font-size: 16px;
    color: #777;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  
  .h3-title {
    font-size: 40px;
    font-weight: 900;
    color: #000;
    padding: 50px;
  
  }

  /* Centralizar o título no meio */
.title-center {
    text-align: center;
  }
  
  .centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }

  /* Colocar a imagem à esquerda com espaço da borda */
  .image-left {
    float: left; 
     margin-right: 20px; 
     margin-bottom: 20px; 
     border-radius: 10px; 
     position: relative;
    
  }

  .image-left img {
   /* border-radius: 30px;*/
      max-width: 900px; 
     max-height: 900px; 
     border-radius: 10px;
 
  }
  
  /* Texto em formato de caixa/quadrado à direita da imagem */
  .text-box {
    max-width: 600px; 
    padding: 30px;
    /*background-color: rgb(245, 245, 245);*/
    border-radius: 10px;
    margin-left: 20px; 
    overflow: hidden; 
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  
.text-header {
  text-align: left;
  margin-bottom: 20px;
}

.text-title {
  font-size: 16px;
  margin: 0;
  font-weight: 900;
  color: #000;
  padding-bottom: 10px;
}

.text-subtitle {
  font-size: 20px;
  font-family: 'Inter', sans-serif; 
  color: #000;
  margin: 0;
  padding-bottom: 20px;
}

/* CSS para o botão de download */
.download-button {

  display: flex; /* Usar flexbox para alinhar itens */
  align-items: center; /* Alinhar verticalmente ao centro */
  font-size: 24px; /* Tamanho da fonte maior */
  justify-content: space-between; 
  background-color: #333; /* Cor de fundo do botão */
  font-size: 16px;
  font-family: 'Poppins', sans-serif; 
  font-weight: 600;
  color: #fff; /* Cor do texto */
  padding: 20px 30px; /* Espaçamento interno do botão */
  border: none; /* Remove a borda padrão */
  border-radius: 25px; 
  box-shadow: #000;
  cursor: pointer; /* Mostra o cursor de mão ao passar o mouse */
  transition: all ease-in-out 0.6s;
  /* Adicione outros estilos desejados, como sombras, transições, etc. */
}

.download-button:hover{
transform: scale(1.2);
background-color: rgb(24, 161, 161);
}




/* CSS para o ícone de PDF dentro do botão */
.download-icon {
  margin-right: 10px;
  font-size: 20px; /* Tamanho do ícone */
  transform: rotateY(0deg);
}

.download-icon:hover{
  color: #ffff;
}

/* CSS para o contêiner do botão de download */
.download-button-container {
  padding-top: 40px; 
}

 

.download-button .icon-flip{
  text-align: center;
  transform: rotateY(0) translateX(0);
  transition: all ease-in-out 0.4s;
  transform-style:preserve-3d ;
  backface-visibility: hidden;
  animation: flip-icon 0.8s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
  
 

@keyframes flip-icon {
  0% {
   
      transform: rotateY(180deg) translateX(30%);
  }
  100% {
      transform: rotateY(0deg) translateX(0%);
  }
}


@media screen and (max-width: 1440px) {
  body{
    padding: 2rem;
  }   

  
/* Colocar a imagem à esquerda com espaço da borda */
.image-left {
  float: left; 
   margin-right: 20px; 
   margin-bottom: 20px; 
   border-radius: 10px; 
   position: relative;
  
}
.subtitle {
  font-size: 14px;

}

.image-left img {
 /* border-radius: 30px;*/
    max-width: 700px; 
   max-height: 700px; 
   

}

.text-box {
  max-width: 500px; 
  padding: 1rem;
}


.text-header {
text-align: left;
margin-bottom: 0px;
}

.text-title {
font-size: 14px;
}

.text-subtitle {
font-size: 16px;
}

.download-button {
font-size: 15px; /* Tamanho da fonte maior */
}

.download-button:hover{
  transform: scale(1.1);
  background-color: rgb(24, 161, 161);
  }

}
