.navbar {
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    display: flex;
    font-size: 1rem;
    height: auto;
    justify-content: space-between;
    left: 0;
    padding: 25px 40px 25px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    font-weight: 600;
    background-color: #ffffff;
    color: #000000;
    
  }



  .navbar a{
    text-decoration: none;
   color: #000000;
   cursor: pointer;
  }

  .logo{
    display: flex;
    justify-content: flex-start;
    margin-left: 3em;
  }
  
  .logo svg{
    width: 100px; 
    height: auto;
  }
  
  .menu {
    list-style-type: none;
    display: flex;
    margin-right: 8em;
  
  }
  
  .menu li {
    padding: 0 40px;
    font-size: 1.5em;
  }
  
  
  