;

/* Reset básicos */
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}


ul {
  margin: 0;
  padding: 0;
}


body{
  font-family: 'Inter', sans-serif;
}



.site-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-image: url('./imgs/petals.png'); 
  background-position: right;
  background-repeat: no-repeat; 
  background-size: cover; 
  transform: rotateY(180deg);
}


/* gerais */
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  color: #000;
  background-color: #ffbdd9;
  background-image: url('./imgs/petals.png'); 
  background-position: top center;
  background-repeat: repeat; 
  background-size: cover; 
}


